name: ip152_schedule_v3
description: Исправленная версия без ошибки FormatException
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.0.15
  intl: ^0.18.0

flutter:
  uses-material-design: true
  assets:
    - assets/data/
